<div class="container">
	<h1>Leistungen</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-8 col-md-9">
			<div class="blog">
			    <div class="col-xs-4 col-sm-4 col-md-3">
			        <div class="container">
				    {{# each data.leistungen}}
					
                        <h4>{{title}}</h4>
				        <img src="{{cloudinaryUrl image width='300' height='200' crop='fill'}}">
                        <p>{{description}}</p>
				    {{/each}}
                  </div>
               </div>
            </div>
        </div>
    </div>
    {{>pagination}}
</div>